<div class="container secretsList  mt-5">
  <h1>
    Secret: {{secret.secretName}}
  </h1>
  <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()" [ngClass]="{'disabledForm': isDisabled}" class="mb-3">
    <fieldset>
      <div class="form-group">
        <label>Secret Name:</label>
        <input type="text" placeholder="Secret Name" formControlName="secretName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.secretName.errors }" />
        <div *ngIf="submitted && f.secretName.errors" class="invalid-feedback">
          <div *ngIf="f.secretName.errors.required">Secret Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Secret Text:</label>
        <input type="text" placeholder="Secret Text" formControlName="secretText" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.secretText.errors }" />
        <div *ngIf="submitted && f.secretText.errors" class="invalid-feedback">
          <div *ngIf="f.secretText.errors.required">Secret Text is required</div>
        </div>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="allowExport">
        <label class="form-check-label" for="exampleCheck1">Allow Export</label>
      </div>
      <div class="mt-3">
        <button *ngIf="!isDisabled" class="btn btn-primary mr-2">
          Save
        </button>

        <button *ngIf="!isDisabled" class="btn btn-primary mr-2" (click)="cancelEdit()">
          Cancel Edit
        </button>


      </div>
    </fieldset>
  </form>
  <button *ngIf="isDisabled" class="btn btn-primary mr-2" (click)="allowEdit()">
    Edit Secret
  </button>
  <button *ngIf="secret.id" class="btn" type="button" (click)="deleteSecret()">Delete Secret</button>
  <a class="btn" [routerLink]="['/']">back</a>


</div>