<div class="container secretsList mt-5">
  <h1>
    Secrets Manager
  </h1>
  <ul class="list-group mt-4 mb-5">
    <li class="list-group-item secretItem" *ngFor="let secret of secretsList">
      {{secret.secretName}}
      <a [routerLink]="['/secret', secret.id]">view secret</a>
    </li>
  </ul>
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add New Secret</button>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add New Secret</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="newSecretForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Secret Name</label>
          <input type="text" formControlName="secretName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.secretName.errors }" />
          <div *ngIf="submitted && f.secretName.errors" class="invalid-feedback">
            <div *ngIf="f.secretName.errors.required">Secret Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Secret Text</label>
          <input type="text" formControlName="secretText" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.secretText.errors }" />
          <div *ngIf="submitted && f.secretText.errors" class="invalid-feedback">
            <div *ngIf="f.secretText.errors.required">Secret Text is required</div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input formControlName="allowExport" type="checkbox" class="form-check-input">
            <label class="form-check-label">Allow Export</label>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Add Secret</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>