<ul *ngFor="let secret of secretsList">
  <li>
    {{secret.secretName}}
    <a [routerLink]="['/secret', secret.secret_id]">view secret</a>
  </li>
</ul>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="newSecretForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Secret Name</label>
            <input type="text" formControlName="secretName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.secretName.errors }" />
            <div *ngIf="submitted && f.secretName.errors" class="invalid-feedback">
              <div *ngIf="f.secretName.errors.required">Secret Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Secret Text</label>
            <input type="text" formControlName="secretText" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.secretText.errors }" />
            <div *ngIf="submitted && f.secretText.errors" class="invalid-feedback">
              <div *ngIf="f.secretText.errors.required">Secret Text is required</div>
            </div>
          </div>
          <!-- <div class="form-group">
           <div class="custom-control custom-checkbox">
              <input formControlName="allowExport" type="checkbox" class="custom-control-input">
              <label class="custom-control-label" for="defaultUnchecked">Allow Export</label>
          </div>
          </div> -->
          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>